/* SUBMISSION LIST AND FILTER PAGE */
#edit-fids-wrapper{
    float:left;
    margin:-1em 1em 0 0;
}
#formsave-filter-form .form-submit{
    margin:1em 0.5em;
}

/* SUBMISSION PAGE */
.formsave-group{
    margin: 10px 0px; padding: 3px; background: #e4e4e4;
    color: black; font-family: Tahoma, Arial, sans-serif; font-size: 12px;
    clear: left;
}
.formsave-item{
    margin: 3px 0; padding: 10px;  background: white;
    overflow: hidden; zoom:1;
}
.formsave-label{
    float: left; clear: left; width: 150px; padding-right: 10px;
    font-weight: bold; font-size: 11px;
}
.formsave-label var{
    font-family: 'Courier New', monospase; font-style: normal; font-weight: normal;
}

.formsave-value{
    margin-left: 160px;
}
fieldset.formsave-item{
    margin: 10px 0; border: 1px solid gray;
}
.formsave-item legend{
     padding: 2px 10px; border:1px solid gray; background: white;
}
.formsave-item  ul{
    margin-top:0; margin-bottom:0;
}
